body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    padding: 20px;   
    text-align: center; 
}

h1 {
    color: #333366;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
}

.intro {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif
}

.outro {
    font-size: 20px;
    text-align: center;
    text-align: bottom;
    font-family: 'Times New Roman', Times, serif
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: nowrap;
}

.profiles img {
    width: auto;
    height: 320px;
    object-fit: cover;
    display: block;
}

 p.outset {
    border-style: outset;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    padding: 10px;
    margin: 20px auto;
}